*{margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

  .home_container{
    width: 100%;
    background:whitesmoke;
    min-height: 100vh;
                 }

  .header_section{
    width: 100%;
    background-color: rgb(57, 57, 204);
    display: flex;
    justify-content: space-between;
    padding:30px 30px ;
    position: fixed;
                  }

  .logo h3{
    color: white;
    cursor: pointer;
          }

  .nav nav ul{display: flex;
              gap: 30px;
              list-style-type: none;}

   .nav nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    position: relative;
    transition: 0.5s;}


   .nav nav ul li .signIn{color: orangered;}

  .nav nav ul li a::after{
    content: " ";
    position: absolute;
    left: 0;
    bottom: 0;
    width:0;
    height: 2px;
    background-color: whitesmoke;
    transition: width 0.3s ease;
            } 

  nav ul li a:hover::after{
    width: 100%;
  }

  


.content_section {
  min-height: 500px;
  padding: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
   margin: auto;
}

.container {
  margin: 120px auto;
  background-color: whitesmoke;
  display: block;

}

.login-form, .admin_form, .driver_form{
  background: linear-gradient(rgba(131, 40, 40, 0.7), rgba(26, 20, 20, 0.7));
  padding: 40px;
  color: #ffff;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}


.login-form input, .admin_form input, .driver_form input {
  margin-bottom: 10px;
  width: 100%;
  height: 40px;
  font-size: 14px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  outline: none;
}

.login-container {
  display: flex;
  justify-content: center;
  width: 900px;
  height: 500px;
}

.login-container h2 {
  margin-bottom: 20px;
}

.login-container label {
  font-size: 16px;
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

span {
  color: rgb(238, 72, 12);
}

.image {
  background:
    linear-gradient(rgba(7, 1, 1, 0.7), rgba(7, 6, 6, 0.7)),
    url("./images/school.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 450px;
  height: 500px;
  justify-content: center;
  text-align: center;
  display: flex;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

.admin-image {
  background:
    linear-gradient(rgba(7, 1, 1, 0.7), rgba(7, 6, 6, 0.7)),
    url("./images/admin.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 450px;
  height: 500px;
  justify-content: center;
  text-align: center;
  display: flex;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

.admin_form{ background: linear-gradient(rgba(131, 40, 40, 0.7), rgba(26, 20, 20, 0.7));
  padding: 40px;
  color: #ffff;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;}

.driver-image {
  background:
    linear-gradient(rgba(7, 1, 1, 0.7), rgba(7, 6, 6, 0.7)),
    url("./images/bus.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 450px;
  height: 500px;
  justify-content: center;
  text-align: center;
  display: flex;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

.image_content {
  margin: auto;
  padding: 20px;
  color: white;
}

.image_content h1 {
  font-size: 40px;
  font-weight: bold;
}

.image_content p {
  font-size: 18px;
  margin-top: 10px;
}

.role {
  margin-top: 10px;
  font-weight: bold;
}

select{
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
}

select option {
  padding: 10px;
}

.sbt_btn {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background: #1565b4;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.sbt_btn:hover {
  background: #1a252f;
}

.or {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
}

.login-form a {
  text-decoration: none;
  color: rgb(0, 60, 255);
}

/*------------HIDE THE OTHER FORMS--------*/

.admin_login {
  display: none;
}
.driver_login {
  display: none;
}

.staff_login{
  display: none;
}



.forgot_password {
  background-color: rgb(47, 47, 146);
  padding: 40px;
  color: #ffff;
  border-radius: 10px;
  width: 300px;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
}

.forgot_password h2 {
  margin-bottom: 20px;
}

.forgot_password input {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
}

/*------------FOOTER--------*/

.footer {
  background-color: rgb(57, 57, 204);
  color: #ccc;
  padding: 40px 20px;
}

.footer-container {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 15px;
  margin: auto;
}

.footer-box h2,
.footer-box h3 {
  color: white;
  margin-bottom: 10px;
  text-decoration: underline;
  font-family: "Montserrat", sans-serif;
}

.footer-box a {
  display: block;
  color: #ccc;
  text-decoration: none;
  margin: 5px 0;
}

.footer-box a:hover {
  color: #3b82f6;
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
  border-top: 1px solid #333;
  padding-top: 10px;
}

i {
  color: orangered;
  font-size: 28px;
  cursor: pointer;
  transition: 0.5s;
}

i:hover {
  opacity: 0.5;
  transform: translateY(5px);
}

.socials {
  display: flex;
  gap: 30px;
  padding: 0 20px;
}

.paragraph {
  margin-top: 20px;
  padding-top: 15px;
}

.content_information {
  transform: translateY(40px);
  animation: float 8s ease-in-out infinite;
}

/*-------------LOGIN--------------*/
