* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

.home_container {
  width: 100%;
  background: whitesmoke;
  min-height: 100vh;
}

.header_section {
  width: 100%;
  background-color: rgb(57, 57, 204);
  display: flex;
  justify-content: space-between;
  padding: 30px 30px;
  position: fixed;
  left: 0;
  top: 0;
}

.logo h3 {
  color: white;
  cursor: pointer;
}

.nav nav ul {
  display: flex;
  gap: 30px;
  list-style-type: none;
}

.nav nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  position: relative;
  transition: 0.5s;
}

.nav nav ul li .signIn {
  color: orangered;
}

.nav nav ul li a::after {
  content: " ";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: whitesmoke;
  transition: width 0.3s ease;
}

nav ul li a:hover::after {
  width: 100%;
}

.content_section {
  min-height: 500px;
  padding: 30px;
  width: 100%;
  margin: auto;
  flex: 1;
}

.content {
  width: 100%;
  margin: 80px auto;
  color: black;
  display: flex;
  background-color: white;
}

/*---------------SIDE NAV---------------*/

.sidebar_result {
  width: 100%;
  padding-left: 10px;
  color: black;
}

.sidebar {
  width: 300px;
  background: linear-gradient(#3b5aa3, #2e4a8f);
  color: white;
  padding: 20px 0;
}

.sidebar h3 {
  padding: 10px 15px;
  font-size: 16px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  margin-bottom: 20px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar ul li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.sidebar ul li a {
  display: block;
  padding: 10px 15px;
  color: white;
  text-decoration: none;
  font-size: 14px;
  transition: 0.2s;
}

.sidebar ul li a:hover {
  background: rgba(255, 255, 255, 0.2);
  padding-left: 20px;
}

.sidebar ul li a.active {
  background: rgba(0, 0, 0, 0.3);
}

.sidebar ul li a i {
  margin-right: 10px;
  width: 20px;
}

/*------------HIDE RESULT-----*/

.main_content {
  flex: 1;
  background:white;
  border: 1px solid #ccc;
  border-left: 4px solid #ccc;
}

.main_content h2 {
  margin-bottom: 20px;
  font-family: "Montserrat", sans-serif;
  background: linear-gradient(#3b5aa3, #2e4a8f);
  padding: 10px;
  color: white;
}

table {
  width: 100%;
  border-collapse: collapse;

}


.sidebar_result h3 {
  width: 100%;
  color: black;
  margin-bottom: 10px;
                    }

table th {
  background-color: #3b5aa3;
  color: white;
  padding: 10px;
}

table,
th,
td {
  border: 1px solid #ccc;
  text-align: left;
  padding: 10px;
}

/*------------RESULTS SECTION STYLE--------*/

.report-container {
  width: 100%;
  margin: 0 auto;
  background: white;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  /*------------HIDE KCSE RESULTS SECTION --------*/
  display: none;
               }

.school-header {
  text-align: center;
  border-bottom: 3px solid #2724c0;
  margin-bottom: 30px;
  padding: 10px;
  background-color: #3b5aa3;
  border-radius: 10px;
}

.school-header p {
  color: white;
  padding: 10px;
}

strong {
  color: white;
}

.school-header h1 {
  color: white;
  margin: 0;
}

.summary-cards {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
  gap: 15px;
}

.card {
  background: #eef1ff;
  padding: 15px;
  border-radius: 8px;
  text-align: center;
  flex: 1;
  border: 1px solid #2724c0;
}

.stat {
  font-size: 24px;
  font-weight: bold;
  color: #2724c0;
  margin: 5px 0 0 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th {
  background-color: #2724c0;
  color: white;
  padding: 12px;
  text-align: left;
}

td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #f1f1f1;
}

/*------------END OF RESULTS SECTION STYLE--------*/



/*------------DISCIPLINE SECTION STYLE--------*/

/* FORM CONTAINER */
.container{
    width:100%;
    background:white;
    padding:30px;
    border-radius:10px;
    box-shadow:0 5px 20px rgba(0,0,0,0.2);
    /*-------HIDE DISCIPLINE SECTION------*/
    display: none;
}

.newsletter_container{
   width:100%;
    background:white;
    padding:30px;
    border-radius:10px;
    box-shadow:0 5px 20px rgba(0,0,0,0.2);
     /*-------HIDE NEWSLETTER SECTION------*/
     display: none;
}

/* TITLE */
.container h2{
    text-align:center;
    color:white;
    margin-bottom:20px;
}

/* INPUT GROUP */
.input-box{
    margin-bottom:15px;
}

.input-box label{
    display:block;
    font-weight:bold;
    margin-bottom:5px;
    color:#333;
}

/* INPUT STYLE */
.input-box input,
.input-box textarea{
    width:100%;
    padding:10px;
    border:1px solid #ccc;
    border-radius:5px;
    background:#f5f7fa;
    font-size:14px;
}

.input-box textarea{
   resize: none;

}

/* READ ONLY LOOK */
input[readonly],
textarea[readonly]{
    background:#e9eef5;
}

/* BUTTON */
button{
    width:100%;
    padding:12px;
    border:none;
    background:#0050b4;
    color:white;
    font-size:16px;
    border-radius:5px;
    cursor:pointer;
    transition:0.3s;
}

button:hover{
    background:#003f8a;
}
/*------------DISCIPLINE SECTION STYLE  ENDS HERE--------*/

/*----------FEE STATEMENTS STYLE STARTS HERE----------*/
.container{
    width: 100%;
    min-height: 100vh;
}

.fee-table{
    width: 90%;
    margin:20px auto;
    background-color: white;
}
table{
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
}
table tr th{
    background-color: #2828d1;
    color: #fff;
    text-align: left;
    padding: 9px;
}
table tr td{
    border: 1px solid #8aaff3;
    text-align: left;
     padding: 3PX;
}

/*----------FEE STATEMENTS STYLE ENDS HERE----------*/



/*------------FOOTER--------*/

.footer {
  background-color: rgb(57, 57, 204);
  color: #ccc;
  padding: 40px 20px;

  left: 0;
  bottom: 0;
  width: 100%;
}

.footer-container {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 15px;
  margin: auto;
}

.footer-box h2,
.footer-box h3 {
  color: white;
  margin-bottom: 10px;
  text-decoration: underline;
  font-family: "Montserrat", sans-serif;
}

.footer-box a {
  display: block;
  color: #ccc;
  text-decoration: none;
  margin: 5px 0;
}

.footer-box a:hover {
  color: #3b82f6;
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
  border-top: 1px solid #333;
  padding-top: 10px;
}

i {
  color: orangered;
  font-size: 28px;
  cursor: pointer;
  transition: 0.5s;
}

i:hover {
  opacity: 0.5;
  transform: translateY(5px);
}

.socials {
  display: flex;
  gap: 30px;
  padding: 0 20px;
}

.paragraph {
  margin-top: 20px;
  padding-top: 15px;
}

.content_information {
  transform: translateY(40px);
  animation: float 8s ease-in-out infinite;
}
